section.checkout
    .container.checkout__container
        h2 Оформление <span>заказа</span>
        p Перед заполнением формы ознакомьтесь с нашей схемой работы!
        .checkout__list
            .checkout__item
                .checkout__circle
            .checkout__item
                .checkout__circle
            .checkout__item
                .checkout__circle
            .checkout__item
                .checkout__circle
            .checkout__item
                .checkout__circle
        form.checkout__form
            .checkout__inputs
                select.checkout__input
                input.checkout__mail(type="mail")
                input.checkout__name(type="text")
                input(type="range")
                input(type="file")
            button.checkout__submit