section.main-slider
    .container.main-slider__container
        .main-slider__text
            h1 Lorem ipsum <span>dolor sit<br> amet consectetur</span> adipiscing
            h2 At vero eos et accusamus et iusto odio dignissimos ducimus!
            ul
                li Totam rem aperiam eaque ipsa
                li Sit voluptatem accusantium doloremque laudantium
                li Sed ut perspiciatis, unde omnis iste natus error
            .main-slider__button-list
                button.button.button--blue.main-slider__button-item Заказать
                a.button.button--white.main-slider__button-item(href="#") Подробнее