footer.footer
    .container.footer__container
        span © 2018 «LoremIpsum.net» Все права защищены.
        .footer__list
            .footer__item
                span Qiwi wallet
            .footer__item
                span Yandex Money
            .footer__item
                span Web Money
        a.footer__mail(href="#") info@ipsum228.com
        a.footer__vk(href="#") Мы вконтакте