header.header
    .container.header__container
        .header__logo
            a(href="#") LoremIpsum.<span>Net</span>
        nav.header__menu
            ul
                li
                    a(href="#") Бизнес
                li
                    a(href="#") О нас
                li
                    a(href="#") Цены
                li
                    a(href="#") Оформить заказ