.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    text-transform: uppercase;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    &--blue {
        color: white;
        background-color: $blue2;
        border: 1px solid white;
    }
    &--white {
        color: #2A2B30;
        background-color: white;
        border: 1px solid #6F6D7B;
    }
}